*{
  margin:0px;
  padding:0px
}

/*  */

/* .header{
  display:grid;
  grid-template-columns: 200px 500px 100px;
  width:50px
}

.loggedin-icon-container{
  display:grid;
  grid-template-columns: repeat(auto, 4);

}

.loggedin-icon-container img{
  width: 20px;
} */

.login-btn-container{
  display:grid;
  grid-auto-flow: column;
  gap: 5px;
  border:solid;
}

.header{
    display:grid;
    grid-auto-flow: column;
    place-items:start end;
    height: 50px;
}

.header img{
  height:25px;
}

.header span{
  margin-right: 7px;
}

.loggedin-icon-container{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  gap:7px;
  place-items:center;
}

/* Login Page */

.main-div{
  display:grid;
  place-items:center;
}

.login-title{
  display:grid;
  place-items:center;
  padding:15px;
  margin:20px;
  font-size:1.5rem
}


.login-container{
  width:450px;
  display:grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}

.register-form{
  display:grid;
  grid-gap:20px;
}